<!-- Contact Registration Modal -->
<div aria-hidden='true' aria-labelledby='exampleModalLabel' class='modal fade' id='newContactModal' role='dialog' tabindex='-1'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='exampleModalLabel'>Are you sure?</h5>
        <button aria-label='Close' class='close' data-dismiss='modal' type='button'>
          <span aria-hidden='true'>×</span>
        </button>
      </div>
      <div class='modal-body'>
	    <%= render 'contact_form', contact: Contact.new %>
	  </div>
      <div class='modal-footer'>
        <button class='btn btn-secondary' data-dismiss='modal' type='button'>Cancel</button>
		<!-- <%= link_to "Register contact", registration_path(resource_name), method: :delete %> -->
      </div>
    </div>
  </div>
</div>
