<!-- TODO: check why this links do not re-render map when redirecting to homepage -->

<body id="page-top">
  <!-- Page Wrapper-->
  <div id="wrapper">
	<!-- Sidebar -->
	<div class="sidebar sidebar-dark bg-primary border-right" id="sidebar-wrapper">
      <div class="sidebar-brand bg-primary align-items-center justify-content-center">
	    <div class="sidebar-brand-text mx-6">
	    DDDS
	    </div>
	  </div>
      <hr class="sidebar-divider my-0"/>
      <div class="list-group list-group-flush">
        <a href="<%= root_path %>" class="bg-primary list-group-item list-group-item-action text-white">Home</a>
        <% if current_user.admin %>
			<a href="<%= admin_devices_path %>" class="bg-primary list-group-item list-group-item-action text-white">Admin Devices</a>
        <% end %>
		<a href="<%= contacts_path %>" class="bg-primary list-group-item list-group-item-action text-white">Contacts</a>
		<% if !current_user.device.nil? %>
			<a href="/emergencies?stype=home" class="bg-primary list-group-item list-group-item-action text-white">My Emergencies details</a>
		<% end %>
      </div>
    </div>
  </div>
</body>

