<h1 class="text-center">Editing Contact</h1>
<br /><br />
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%= render 'form', contact: @contact %>

<div class="actions row d-flex justify-content-center">
  <div class="col-md-3">
	<%= link_to 'Back', contacts_path %>
  </div>
</div>