<h1 class="text-center">New Contact</h1>
<br /><br />

<%= render 'form', contact: @contact %>

<div class="actions row d-flex justify-content-center">
  <div class="col-md-3">
	<%= link_to 'Back', contacts_path %>
  </div>
</div>